.main{
    margin-left: 6px;
    margin-top: 8px;
}
.box{
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    text-align: left;
    height: 120px;
    overflow: scroll;
}
.content{
    color: #1468A0;
    cursor: pointer;
}
.active{
    background-color: #1468a073;
    color: black !important;
}
.content p{
    margin-top: 0;
    margin-bottom: 0;
}