.main{

}
.formDiv{
    text-align: left;
    color: #1468A0;
}
.formDiv p{
    margin-left: 10px;
    margin-bottom: 0;
    font-size: 16px;
}
.bottom{
    text-align: center;
    margin-top: 50px;
}
.geo{
    margin-top: 10px;
}